.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info h3 {
  font-size: 24px;
}
.header__right {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.header__right li {
  position: relative;
  display: flex;
  align-items: center;
}
.header__right li span {
  font-size: 28px;
  cursor: pointer;
}
.dot {
  top: -15px;
  left: 25px;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .info {
    display: none;
  }
}
